.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.feed__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 60%;
  border: 1px solid;
}

.feed__left-content {
  height: 500px;
  width: 500px;
  border: 1px solid black;
}

.feed__right-content {
  height: 500px;
  width: 45%;
}

.feed__main-img {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.feed__main-img__underbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feed__main-contents {
  width: 100%;
  height: 40%;
  border: 1px solid black;
}

.feed__writter {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid black;
}

.feed__main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.feed__comments {
  width: 100%;
  height: 60%;
  border: 1px solid black;
}

.input-comment {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 50px;
}

.input-comment > input {
  width: 80%;
}

.feed__comments-box {
  width: 100%;
  height: 50%;
  margin-top: 10px;
  overflow-y: scroll;
}
