.feed-detail__main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 204, 204);
}

.feed-detail__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 80vh;
  border-radius: 5px;
  box-shadow: 2px 4px 6px rgba(2, 7, 21, 0.3);
  /* background-color: rgb(255, 253, 241); */
  background-color: white;
}

.feed-detail__left-content {
  height: 500px;
  width: 500px;
}

.feed-detail__right-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  width: 45%;
  border-radius: 10px;
  box-shadow: 1px 2px 4px rgba(2, 7, 21, 0.5);
  background-color: white;
}

.feed-detail__main-img {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 2px 4px rgba(2, 7, 21, 0.5);
}

.feed-detail__main-img__underbar {
  position: fixed;
  z-index: 5;
  width: 500px;
  margin-top: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-radius: 10px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6));
}

.feed-detail__main-img__underbar__left-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: 100%;
  margin-left: 30px;
  color: white;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow-x: auto;
}

.feed-detail__main-img__underbar__right-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
}

.egg-img {
  width: 60%;
  height: 60%;
  cursor: pointer;
}

.egg-count {
  position: fixed;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.feed-detail__topbar {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  border-bottom: 2px solid rgba(2, 7, 21, 0.2);
  box-shadow: 1px 2px 4px rgba(2, 7, 21, 0.2);
}

.feed-detail__feedId {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  border-right: 2px solid rgba(2, 7, 21, 0.1);
}

.feed-detail__UD-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100px;
  height: 100%;
}

.feed-detail__UD-box > button {
  height: 80%;
}

.feed-detail__main-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  margin-left: 20px;
  font-size: 1.5rem;
}

.feed-detail__comments {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-comment-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50px;
  box-shadow: 0px 0px 10px rgba(2, 7, 21, 0.2);
}

.input-comment-box > input {
  margin: 0;
  height: 90%;
  width: 80%;
  border: none;
  font-size: 1.3rem;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 20px;
}

.input-comment-box > input:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0);
}

.input-comment-box > button {
  margin: 0;
  height: 100%;
  width: 20%;
  border: none;
  background-color: rgb(255, 204, 204);
  color: white;
  font-size: 1.3rem;
  border-radius: 10px;
}

.feed-detail__comments-box {
  width: 100%;
  height: 390px;
  overflow-y: scroll;
  overflow: hidden;
}

.main__icon {
  width: 30px;
}

/* media query */

.submitComment__btn {
  display: none;
}

@media screen and (max-width: 500px) {
  .feed-detail__main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 204, 204);
    overflow-y: auto;
  }

  .feed-detail__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 80vh;
    margin-top: 1rem;
    border-radius: 5px;
    box-shadow: 2px 4px 6px rgba(2, 7, 21, 0.3);
    background-color: white;
    overflow-y: auto;
  }

  .feed-detail__left-content {
    height: 50vh;
    width: 70%;
    margin-bottom: 2rem;
  }

  .feed-detail__right-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
    width: 300px;
    border-radius: 10px;
    box-shadow: 1px 2px 4px rgba(2, 7, 21, 0.5);
    margin-bottom: 5rem;
  }

  .feed-detail__main-img {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
  }

  .feed-detail__main-img__underbar {
    position: fixed;
    z-index: 5;
    width: 300px;
    margin-top: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-radius: 10px;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.6)
    );
  }

  .feed-detail__main-img__underbar__left-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 100%;
    margin-left: 30px;
    color: white;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow-x: auto;
  }

  .feed-detail__main-img__underbar__right-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
  }

  .egg-img {
    width: 60%;
    height: 70%;
    cursor: pointer;
  }

  .egg-count {
    position: fixed;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .feed-detail__topbar {
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgba(2, 7, 21, 0.2);
    box-shadow: 1px 2px 4px rgba(2, 7, 21, 0.2);
  }

  .feed-detail__writter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-right: 2px solid rgba(2, 7, 21, 0.1);
  }

  .feed-detail__UD-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
    height: 100%;
  }

  .feed-detail__UD-box > button {
    height: 80%;
  }

  .feed-detail__main-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin-left: 20px;
    font-size: 1.2rem;
  }

  .feed-detail__comments {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .input-comment-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 10vh;
    box-shadow: 1px 2px 4px rgba(2, 7, 21, 0.2);
    border-radius: 10px;
  }

  .input-comment-box > input {
    margin: 0;
    height: 90%;
    width: 80%;
    border: none;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 20px;
  }

  .input-comment-box > input:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0);
  }

  .input-comment-box > button {
    margin: 0;
    height: 100%;
    width: 20%;
    border: none;
    background-color: rgb(255, 204, 204);
    color: white;
    font-size: 1.3rem;
    border-radius: 10px;
  }

  .feed-detail__comments-box {
    width: 100%;
    height: 390px;
    overflow-y: scroll;
  }

  .comment__btn {
    display: none;
  }

  .submitComment__btn {
    display: inline;
    width: 27px;
    height: auto;
    margin-right: 1rem;
  }
}
