.feed-detail__main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.feed-detail__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 80vh;
  border: 1px solid;
}

.feed-detail__left-content {
  height: 500px;
  width: 500px;
  border: 1px solid black;
}

.feed-detail__right-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  width: 45%;
  border: 1px solid black;
}

.feed-detail__main-img {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.feed-detail__main-img__underbar {
  position: fixed;
  z-index: 5;
  width: 500px;
  margin-top: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6));
}

.feed-detail__main-img__underbar__left-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: 100%;
  margin-left: 30px;
  color: white;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow-x: auto;
}

.feed-detail__main-img__underbar__right-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
}

.egg-img {
  width: 80%;
  height: 80%;
}

.egg-count {
  position: fixed;
  color: white;
  font-size: 2rem;
}

.feed-detail__writter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid black;
}

.feed-detail__UD-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100px;
  height: 100%;
}

.feed-detail__UD-box > button {
  height: 80%;
}

.feed-detail__main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.feed-detail__comments {
  width: 100%;
  height: 60%;
  border: 1px solid black;
}

.input-comment-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50px;
}

.input-comment-box > input {
  margin: 0;
  height: 100%;
  width: 80%;
}

.input-comment-box > button {
  margin: 0;
  height: 100%;
  width: 20%;
}

.feed-detail__comments-box {
  width: 100%;
  height: 230px;
  margin-top: 10px;
  overflow-y: scroll;
}

/* modal */
.upload-modal__background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(2, 7, 21, 0.8);
  position: fixed;
  z-index: 999;
}

.upload-modal__main {
  width: 500px;
  height: 500px;
  background-color: white;
}

.modal__image {
  width: 100px;
  height: 100px;
}
