.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.feed__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 80vh;
  border: 1px solid;
}

.feed__left-content {
  height: 500px;
  width: 500px;
  border: 1px solid black;
}

.feed__right-content {
  height: 500px;
  width: 45%;
}

.feed__main-img {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border-bottom: 1px solid black;
  background-size: 100% 100%;
  background-image: url(./pinGGyeMarket.png);
}

.feed__profile_preview {
  width: 100%;
  height: 100%;
}

.feed__main-underbar {
  height: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.feed__main-contents {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feed__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  border: 1px solid black;
  border-radius: 30px;
  margin: 30px;
}

#feed-upload__hashtag {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px 0px;
  width: 100%;
  height: 30%;
  background-color: rgba(0, 0, 255, 0.1);
}

.feed-upload__hashtag-input {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
}

.hashtag-input {
  width: 70%;
}

.hashtag-submit-btn {
  width: 20%;
}

.feed-upload__hashtag-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hashtag {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  margin: 0px 5px;
}

.signup__alert-box {
  color: red;
  width: 100%;
  text-align: center;
}

#feed-upload__img-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 30%;
  background-color: rgba(255, 0, 0, 0.1);
}

.feed-upload__main-message {
  font-size: 1.5rem;
  width: 100%;
}

.feed-upload__subject {
  width: 80%;
  height: 50px;
  margin: 10px;
  font-size: 1.75rem;
}
.feed-upload__underbar {
  display: flex;
  justify-content: flex-end;
}
