.landing-img {
  position: relative;
  margin-top: 13rem;
  width: 30rem;
  height: 20rem;
  /* border: 1px solid black; */
  background-size: 100% 100%;
  background-image: url(./pinGGyeMarket.png);
  transform: translate(-50%, -50%);
}