.login__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.login__img-box {
  /* margin-top: 10rem; */
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40vh;
  height: 20vh;
  /* border : 1px solid black; */
  background-size: 100% 100%;
  background-image: url(../../static/images/pinkLogo.png);
}

.login__login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-left: 5rem;
  /* border: 1px solid black; */
  border-radius: 20px;
  /* width: 40vh;
  height: 50vh; */
  width: 400px;
  height: 500px;
  background-color: rgb(255, 204, 204);
  color: rgb(96, 96, 96);
  box-shadow: 2px 4px 6px rgba(3, 4, 6, 0.15);
}

.login__container-title {
  max-width: 20%;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.login__input-email,
.login__input-password {
  margin-bottom: 1rem;
  text-align: left;
  font-size: 1.2rem;
}

.login__btn-login {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 24px;
  background-color: #72728aa7;
  border: 0px;
  border-radius: 5px;
  color: white;
  box-shadow: 2px 4px 6px rgba(3, 4, 6, 0.15);
}

.login__btn-signup {
  float: right;
  margin-top: 1rem;
  width: 70px;
  height: 24px;
  background-color: #faf4ecc9;
  border: 0px;
  border-radius: 5px;
  box-shadow: 2px 4px 6px rgba(3, 4, 6, 0.15);
}

.login__btn-signup > a {
  text-decoration: none;
  color: #72728a;
}

input {
  margin-top: 0.5rem;
  position: relative;
  width: 98%;
  height: 24px;
  background-color: white;
  border-radius: 5px;
  border: 0px;
  box-shadow: 2px 4px 6px rgba(3, 4, 6, 0.15);
}

input:focus {
  outline: none;
}

.login__alert-box {
  position: absolute;
  text-align: center;
  margin-top: 400px;
  color: rgb(230, 70, 70);
  /* font-weight: bold; */
}

.login__logo {
  display: none;
}

@media screen and (max-width: 500px) {
  .login__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  .login__logo {
    display: flex;
    width: 12rem;
    margin-left: 3rem;
    margin-bottom: 1.5rem;
  }

  .login__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  .login__img-box {
    display: none;
  }

  .login__login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-left: 2rem;
    border: 1px solid black;
    width: 40vh;
    height: 50vh;
  }

  .login__container-title {
    max-width: 20%;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.5rem;
  }

  .login__input-email,
  .login__input-password {
    margin-bottom: 1rem;
    text-align: left;
  }

  .login__btn-login {
    margin-bottom: 0.5rem;
    width: 100%;
  }

  .login__btn-signup {
    float: right;
    margin-top: 1rem;
  }

  input {
    margin-top: 0.5rem;
    position: relative;
    width: 95%;
  }

  .login__alert-box {
    position: absolute;
    text-align: center;
    margin-top: 30vh;
  }
}

