.home__hashtag {
  margin: 1rem;
  display: flex;
  /* flex-direction: row; */
  float: left;
  text-align: center;
  padding: 10px;
  align-content: center;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  border: 0px solid black;
  box-shadow: 2px 4px 6px rgba(3, 4, 6, 0.15);

}
.home__hashtag-selected {
  margin: 1rem;
  display: flex;
  /* flex-direction: row; */
  float: left;
  text-align: center;
  color: white;
  padding: 10px;
  align-content: center;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  border: 0px solid black;
  background-color: #72728a;
  box-shadow: 2px 4px 6px rgba(3, 4, 6, 0.15);
}