NODE_ENV

DATABASE_USERNAME
DATABASE_PASSWORD
DATABASE_NAME
DATABASE_HOST
DATABASE_PORT

DATABASE_LOCAL_USERNAME
DATABASE_LOCAL_PASSWORD
DATABASE_LOCAL_NAME
DATABASE_LOCAL_HOST
DATABASE_LOCAL_PORT

AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY
AWS_REGION

PASSWORD_SALT
ACCESS_SECRET
REFRESH_SECRET